[submodule "libbinary"]
	path = libbinary
	url = https://github.com/ChicoCSCI/libbinary.git
[submodule "liblogger"]
	path = liblogger
	url = https://github.com/ChicoCSCI/liblogger.git
[submodule "libcommand"]
	path = libcommand
	url = https://github.com/ChicoCSCI/libcommand.git
